@charset "UTF-8";

@import "main.css";

#clearfix {
	
	clear:both;
	
}
#error-page-top-spacer {
	
	width: 900px;
	height: 100px;
	
}
#refresh {
	
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom:0;
	z-index: 1000;
	
}
.error {
	
	font-family: "Menlo";
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	
}
.file-info {
	
	font-size: 20px;
	font-family: "Menlo";
	font-weight: bold;
	color: #777;
		
}
.file-line {
	
	font-family: "Menlo";
	color: #444;
	
}
#code {
	
	font-family: "Menlo";
	background-color: #e4e4e4;
	
	width: 1200px;
}
#code .num {
	
	display: block;
	width: 30px;
	height: 28px;
	margin-right: 10px;
	float: left;
	background-color: #ccc;
	text-align: center;
	
}
#code .error-line .num {
	
	background-color:#ff7b7b;
	
}
#code .line, .error-line {
	
	display: block;
	float: left;
	width: 1197px;
	height: 28px;
	border-left: solid 3px #777;
	line-height: 1.8em;
	overflow: hidden;
	
}
#code .error-line {
	
	background-color: #ff9e9e;
	border-left: solid 3px #ff2f2f;
	
	border-top: solid 1px #ff4141;
	border-bottom: solid 1px #ff4141;
	
}
