@charset "UTF-8";

body {
    
    margin: 0 auto;
    color: #555;
    
    font-family: sans-serif;
    
    background-color: #faf8ef;
    
}

.clearfix {
    clear:both;
}

.heading {
	
	font-size: 40px;
	margin-bottom: 20px;
	display: block;
	font-family: "Verdana";
	
}

#phoenix-header {
	
	width: 100%;
	height: 100px;
	
}

#phoenix-header #logo {
	
	width: 200px;
	height: 100px;
	background-image: url(../assets/phx-800.png);
	background-repeat: no-repeat;
	
	background-size: 200px 50px;
	
	margin-top: 50px;
	
	
}

#navbar {
    
    position: fixed;
    width: 100%;
    height: 30px;
    border-bottom: solid 1px #ccc;
    
}
#container {
    
    width: 1200px;
    position: fixed;
    top:30px;
    left: -600px;
    margin-left: 50%;
    
}

#content-right {
    width: 700px;
    float: left;
}

#sidebar {
    height: 600px;
    width: 250px;
    float: left;
}

.center-span {
	
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	
	font-size: 20px;
	font-weight: 800;
	
}

#debug {

    position: fixed;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: #eee;
    border-top: solid 1px #888;
    
    font-family: "Courier New";
    
    overflow: hidden
    
}

#debug-gui {
	
	width: 100%;
	height: 190px;
	overflow: scroll;
	
}

#debug-gui .gui-line-num {
	
	display: block;
	width: 50px;
	float: left;
	
}

#command {
	
	width: 100%;
	height: 50px;
	
	
	background-color: #fff;
	
	font-family: "Courier New";
	
	font-size:  25px;
	
	border: 0;
	
	border: solid 3px #fff;
	
}
#command:focus {
	
	outline: none;
	border: solid 3px #00a7ff;
	
}

#debug-inner {
    padding-left: 10px;
}